<div class="page-component-create">
    <nav class="navbar navbar-default navbar-fixed-top" style="margin-top: 50px" role="navigation">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="#">表格组件</a>
            <ul class="nav navbar-nav">
                <li>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#component" >
                        <span class="icon-remove"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="script-container" id="script-container"  :style="{width:vbar.left}">

        </div>
        <div class="v-bar" style="left: 30%">

        </div>
        <div class="show-container">

        </div>
    </section>

</div>